{% extends 'littrack/layout.html' %}

{% block title %}

<h1>Set a new password here.</h1>

{% endblock %}

{% block content %}

<ul>
    {% for user in users %}
        <li>{{ user.email }}</li>
    {% endfor %}
</ul>

{% if validlink %}
    <form action="" method="post">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        {{ form.non_field_errors }}
        {% if form.email.errors %}
        <ol>
            {% for error in form.email.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ol>
        {% endif %}
        {% if form.password.errors %}
        <ol>
            {% for error in form.password.errors %}
                <li><strong>{{ error|escape }}</strong></li>
            {% endfor %}
            </ol>
        {% endif %}
        {% csrf_token %}
        {{ form }}
        <button type="submit">Log In</button>
    </form>
{% else %}
    <h1>Password reset failed</h1>
    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
{% endif %}

{% endblock %}
